@import 'utilities/var';
@import 'utilities/mixing';
@import 'utilities/placeholders';


html {
    line-height: 1.4;
    font-size: 62.5%;
    
    }

body {
        font-family: $font;
        font-weight: 300;  
        margin: 0;
    }

body > section{
    max-width: 1200px;
    position: relative;
    @extend %center-element;
}

header, footer{
    background-color: #302f2f;
    position: relative;
    max-width: 1200px;
    @extend %center-element;
    }

ul, li{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p, a{
    @include text-typo(uppercase, none, 0.5px , normal);
  
  }

  h1{
    font-size: 2.8rem;
 }
 h2{
   font-size: 2.6rem;
 
 }
 h3{
   font-size: 2rem;
 }
 h4, p{
   font-size: 1.4rem;

   @include text-typo(none, none, 0.5px , lighter);
   color: #888888;
 }
 a{
   color: #FFFFFF;
 }


/* /////////////////////////////////////////////////////////////////////// */
/* /                         MASTER CONTROLS                             / */
/* /////////////////////////////////////////////////////////////////////// */

header{

    nav{  
       


      li{
            display: inline-block;
            padding: 3px 12px 3px 12px;
            margin: 0;
            

            a{
                font-size: 1.2rem;
                font-weight: lighter;
                color: #d5d5d5;
            }
            &:not(:nth-of-type(5n)){
                border-left: rgb(172, 168, 168) solid 1px;
            }
        }

        p{
            margin:0;
            padding-top: 6px;
            position: absolute;
            top:0;
            right: 20px;
           
        }

        ul{
            padding-top: 5px;
            padding-bottom: 5px;
            margin: 0;
            text-align: center;
        }
        &::after{
            content: '';

            background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
            height: 1px;
            width: 100%;
            display: block;
            clear: both;

        }
       
    }
}

/* MOST POPULAR MOVIES
==================================================
================================================== */

#most-popular-movies{
    
   
    background-color: $primary-color;
    @extend %center-element;

    h2{
        font-size: 1.6rem;
        display: block;
        color: papayawhip;
        background-color: rgba(17,17,17, 0.65);
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;

    }

    ul{
        padding-top: 7px;
        text-align: center;
        position: relative;
        left: 5px;
        
        &::after{
            content: '';
            display: block;
            clear: both;
        }
    }
        
    li{

        img{
            height:300px;
            width: 100%;
        }

        list-style: none;
        margin-bottom: 5px;
        position: relative;
        float: left;
        width: calc(100%/2 - 1rem);
        
        &:not(:nth-of-type(2n)){
            margin-right: 1rem;
        }

    }

    

    
}

/* FEATURED MOVIES
==================================================
================================================== */

#featured-movies{

    background-color: $primary-color;
    
    
    h2{
        font-size: 1.6rem;
        display: block;
        color: papayawhip;
        background-color: rgba(17,17,17, 0.65);
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;

    }

    ul{
       
        text-align: center;
        position: relative;
        left: 5px;

        &::after{
            content: '';
            display: block;
            clear: both;
        }

        li{

            img{
                height:150px;
                width: 100%;
            }
    
            list-style: none;
            position: relative;
            margin-bottom: 5px;
            float: left;
            width: calc(100%/4 - 1rem);
            
            &:not(:nth-of-type(4n)){
                margin-right: 1rem;
            }
    
        }
    }
}

/* /////////////////////////////////////////////////////////////////////// */
/* /                         TOP RATED MOVIES                            / */
/* /////////////////////////////////////////////////////////////////////// */

#top-rated{

    h1{
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: lighter;
    }

    
    ul{
       
        text-align: center;
        position: relative;
        left: 4px;

        &::after{
            content: '';
            display: block;
            clear: both;
        }

        li{

            img{
                height:300px;
                width: 100%;
                border-radius: 20px;
            }

            list-style: none;
            position: relative;
            margin-bottom: 15px;
            float: left;
            width: calc(100%/5 - 5rem);

            &:not(:nth-of-type(6n)) {
                margin-right: 10px;
            }
        }
    }
}

/* /////////////////////////////////////////////////////////////////////// */
/* /                             FOOTER                                  / */
/* /////////////////////////////////////////////////////////////////////// */

footer{
    background-color: #302f2f;
    height: 30px;
    width: 100%;

    p{
        color: #d5d5d5;
        font-size: 0.8rem;
        position: relative;
        top: 10px;
        left: 10px;
    }
}


